@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.fade-in1 {
  animation: fadeIn1 1s;
}

.fade-in2 {
  animation: fadeIn2 1s;
  lazy: false;
}
