.footer {
  position: relative;
  margin-top: 3rem;
  padding: 1rem;
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .footer h5 {
    font-size: 16px;
  }
  .footer p {
    font-size: 12px;
  }
}
