@import url("./styles/avatar.css");
@import url("./styles/footer.css");
@import url("./styles/toggle-dark-mode.css");
@import url("./styles/animation.css");

.App-logo {
  height: 48vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0px);
  }
}
.App a {
  text-decoration: none;
}

.container {
  vertical-align: baseline;
}

.loader-container {
  background: #2c3e50;
  height: 100vh;
  color: #18bc9c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.components a {
  color: black;
}

.components a:hover {
  color: white;
}
@media (min-width: 1001px) {
  html {
    scroll-padding-top: 4rem;
  }
  .title {
    display: block;
  }
  .title2 {
    display: none;
  }
  .phone {
    display: none;
  }

  .lap-top {
    display: block;
  }
}

@media (max-width: 1000px) {
  html {
    scroll-padding-top: 15rem;
  }
  .title {
    display: none;
  }
  .title2 {
    display: block;
  }

  .phone {
    display: block;
  }
  .lap-top {
    display: none;
  }
}
