@import url('./styles/avatar.css');
@import url('./styles/footer.css');
@import url('./styles/toggle-dark-mode.css');

.App a {
  text-decoration: none;
}

.container {
  vertical-align: baseline;
}

.components a {
  color: black;
}

.components a:hover {
  color: white;
}
@media (min-width: 1001px) {
  html {
    scroll-padding-top: 4rem;
  }
  .title {
    display: block;
  }
  .title2 {
    display: none;
  }
  .phone {
    display: none;
  }

  .lap-top {
    display: block;
  }
}

@media (max-width: 1000px) {
  html {
    scroll-padding-top: 15rem;
  }
  .title {
    display: none;
  }
  .title2 {
    display: block;
  }

  .phone {
    display: block;
  }
  .lap-top {
    display: none;
  }
}
