@import url('./styles/avatar.css');

html {
  scroll-padding-top: 4rem;
}

.App a {
  text-decoration: none;
}

.container {
  vertical-align: baseline;
}

.components a {
  color: black;
}

.components a:hover {
  color: white;
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 15rem;
  }
}
